@page
@model IndexModel
@using Microsoft.AspNetCore.Http;
@using System
@using System.Net;
@using System.Net.Mail;
@{
    ViewData["Title"] = "Home page";
}

<html>

<body>

    @{
        if (HttpMethods.IsPost(Request.Method))
        {
            string subject = Request.Form["subject"];
            string body = Request.Form["message"];
            body = body + ";";

            string to = new MailAddress("lewisdrake28@outlook.com").ToString();
            string from = new MailAddress("lewisdrake0477@outlook.com").ToString();

            MailMessage message = new MailMessage(from, to);
            message.Subject = subject;
            message.Body = body;

            SmtpClient client = new SmtpClient("smtp.server.address", 2525)
            {
                Credentials = new NetworkCredential("smtp_userame", "smtp_password"),
                EnableSsl = true
            };

            try
            {
                client.Send(message);
            }
            catch (Exception ex)
            {
                <p>@ex.Message</p>
                <p>Error!</p>
            }
        }

        else
        {
            <form method="post" action="">
                <p>Subject:</p>
                <input type="text" value="" name="subject" /><br><br>
                <p>Message:</p>
                <input type="text" value="" name="message" /><br><br>

                <input type="submit" value="Send" name="send" />
            </form>
        }
    }

    @{

    }

</body>

</html>

@*using System;
    using System.Net;

    namespace ipGrabber
    {
    class Program
    {
    static void Main(string[] args)
    {
    //get the hostname
    string hostName = Dns.GetHostName();
    Console.WriteLine(hostName);

    //get the ip
    string ip = Dns.GetHostByName(hostName).AddressList[0].ToString();
    Console.WriteLine(ip);
    }
    }
    }
*@

@*string toAddress = "lewisdrake28@outlook.com";
    string fromAddress = "lewisdrake0477@gmail.com";*@